@import url('https://xhylo.github.io/BetterSettings/BetterSettings.css');

/*-----------DON'T CHANGE------------*/
:root{--outdated:none!important}
/*  usrbg | snippet by _david_#0218  */
.userPopout-xaxa6l[style*="--user-background"] .banner-2QYc2d, .root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
  height: 120px;
  background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {
  top: 76px;
}
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
  height: 240px;
}

/* remove usbr/native*/
.UserBackgrounds-banner-badge {
    display:none !important;
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 15px; 
}

.channelName-3KPsGw{color:rgb(26, 210, 235)!important;}
.icon-2W8DHg,.container-q97qHp,.icon-3zI3d2{color: #DE4A1FFF !important;}

/*disable discord's laggy settings animation*/
.layer-86YKbF {transform: none !important;opacity: 1 !important;}
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV {pointer-events: auto !important;will-change: unset;}
.animating-1rIrGV.stop-animations {z-index: 100 !important;}

/*Hide help icon*/
.toolbar-3_r2xA a {display: none;}

/*Add Background image to Discord*/
:root {
    --background-image: url('https://i.imgur.com/rn0AlMm.jpg');
    --opacity: .95;
}

:root {background:var(--background-image) center/cover no-repeat;opacity:var(--opacity)}


/* Unclamp the About Me section, so it's not limited to just 6 lines. (normally it cuts off at 6 and adds a ...) */
.clamped-2ZePhX{
    -webkit-line-clamp: 190; /*Maximum amount of characters as new lines, unset just breaks links*/
    max-height:112px;
    overflow-x: hidden;
    overflow-y:scroll;
}
.clamped-2ZePhX::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}
.clamped-2ZePhX::-webkit-scrollbar-track {
  border-radius: 10px; /*How round you want the scrollbar to be. 0 is square, 10px is round.*/
  background-color: rgb(255 255 255 / 10%); /*Edit this to what color you want the track to be.*/
}
.clamped-2ZePhX::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #00aeff, #a68eff); /* Edit this to whatever color/colors you'd like*/
  border-radius: 10px; /*How round you want the scrollbar thumb to be. 0 is square, 10px is round.*/
}

/*Buttons*/
.floating-window-buttons .button.close-button svg , .floating-window-buttons  .button.close-button .fill{
    border-radius: 100px;
    max-width: 14px;
    max-height: 14px;
    background-color:#EC6A5E;}
.floating-window-buttons .button.maximize-button svg, .floating-window-buttons .button.maximize-button .fill{
    width:1px;}
html .floating-window-buttons:hover, html .floating-window-buttons .button.close-button:hover{background-color: #202225;}
html .floating-window-buttons:hover, html .floating-window-buttons .button.maximize-button:hover{background-color: #202225;}
html #bd-editor-controls button:hover, html #bd-editor-controls button .btn.btn-primary:hover{background-color: #202225;}
.floating-window-buttons .button.maximize-button svg , .floating-window-buttons  .button.maximize-button .fill{
    border-radius: 100px;
    max-width: 14px;
    max-height: 14px;
    background-color:#61C554;}
.button.close-button{order:-1;}
.title{order:2;}
html .floating-window-buttons .button{width:25px}
html .floating-window-buttons .button.close-button{padding-left:5px}
html .floating-window.resizable{border-radius: 12px;}
[d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"]{opacity: 0;}
.fill{opacity: 0;}
.floating-window-buttons {order: -1;}

/*Button Icons*/
.floating-window-buttons .close-button>svg:hover {
background-position: center;
background-repeat: no-repeat;
background-image: url('https://cdn.discordapp.com/attachments/872597872472907896/896612765731545088/close.png');
background-size: 6px;
}
.floating-window-buttons .maximize-button>svg:hover {
background-position: center;
background-repeat: no-repeat;
background-image: url('https://cdn.discordapp.com/attachments/872597872472907896/896612353070731274/expand.png');
background-size: 6px
}

.topic-TCb_qw > .wrapper-3WhCwL > .channelIcon-1MN1lz,
.embedFooterText-28V_Wb > .wrapper-3WhCwL > .channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}

/*Embeds*/
:root {
    --embed-border-radius: 8px;
}
.embed-hKpSrO {
    border-radius: var(--embed-border-radius);
}
.embed-hKpSrO code {
    background: var(--background-secondary);
}
:root {
    --embed-line-width: 2px;
}
.embedWrapper-1MtIDg {
}
.embedFull-1HGV2S {
    border-left: calc(2px + var(--embed-line-width)) solid var(--background-accent);
    background: var(--background-secondary);
}
.grid-1aWVsE {
    margin-left: calc( -1 * var(--embed-line-width));
    z-index: 1;
}
.embedFull-1HGV2S: after, .embedFull-1HGV2S: before {
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
    left: calc(-1 * var(--embed-line-width));
}
.embedFull-1HGV2S: after {
    background: linear-gradient(to right, transparent, var(--background-secondary));
}
.embedFull-1HGV2S: before {
    background: var(--background-secondary);
    opacity: .8;
}

img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

#app-mount .container-3auIfb, #app-mount .bd-switch-body {
  width: 20px;
  height: 20px;
  background: transparent !important;
}
#app-mount .container-3auIfb .slider-TkfMQL, #app-mount .bd-switch-body .bd-switch-slider {
  left: -6px !important;
}
#app-mount .container-3auIfb .slider-TkfMQL > rect, #app-mount .bd-switch-body .bd-switch-slider rect {
  height: 20px !important;
  width: 20px !important;
  x: 4px !important;
  y: 0px !important;
  rx: 5;
  fill: var(--background-tertiary);
}

/*Get rid of server banners*/
.animatedContainer-2laTjx, .content-2a4AW9 [style="height: 84px;"], .bannerImage-ubW8K-, .animatedBannerHoverLayer-129r1v{
    display: none;
}
.hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK::hover, .hasBanner-2IrYih{
    color: var(--header-primary);
}

.assetWrapper-3GNt0z { 
    max-height: 10vh;
    max-width: 10vh;
}

/*category containers*/
.containerDefault-3TQ5YN {
  margin-top: .2em;
  margin-bottom: .2em;
  padding: 4px !important;
  height: 1.4em !important;
  border: 1px solid RGBA(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: RGBA(0, 0, 0, 0.4);
}
/*channel containers*/
.content-1gYQeQ {
  background-color: RGBA(0, 0, 0, 0.1);
  border: 2px solid var(--background-tertiary);
  padding: 0px;
}
.iconItem-1EjiK0 {
  margin-left: 0px !important;
  padding: 8px 0px !important;
}
.mainContent-20q_Hp{
  padding: 4px 8px !important;
}

.toast-1DEQGy,
.toast-q3Y4wI {
    background: #43b581 !important;
    transform: translateY(10px);
    padding: 6px 10px 6px 10px !important;
    border-radius: 5px;
    box-shadow: var(--elevation-medium), var(--elevation-stroke);
    font-weight: 500;
    color: var(--header-primary);
    opacity: 1;
    margin-top: 10px;
}

.toast-1DEQGy .icon-q80NJC > path,
.toast-q3Y4wI .icon-2QUmmw > path {
    d: none !important;
}

.toast-1DEQGy .icon-q80NJC,
.toast-q3Y4wI .icon-2QUmmw {
    height: 20px !important;
    width: 20px !important;
    margin-top: 0 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=);
    background-size: 20px 20px;
}

.toast-1DEQGy .colorHeaderPrimary-26Jzh-,
.toast-q3Y4wI .colorHeaderPrimary-jN_yGr {
    font-size: 14px !important;
    line-height: 20px !important;
}

.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}

/* nitro tab */
.scroller-1bVxF5 .colorPremium-vwmYZQ,
/* flower icon next to server name */
.flowerStar-2tNFCR,
.flowerStarContainer-1QeD-L,
/* question mark when trying to change tag in user settings */
.questionMark-3V9mGJ,
/* billing tab in user settings */
[aria-controls="connections-tab"]~*:nth-child(n+7):nth-child(-n+13),
/* remove nitro label in user customization section */
.customizationSection-IGy2fS:nth-child(3),
/* remove stuff in server settings related to nitro */
.emptyState-Ud44C9 .colorHeaderSecondary-g5teka, 
.emptyState-Ud44C9 .stickersRow-3OJE_7,
.container-1eD8xH,
.emptyState-Ud44C9 .colorHeaderSecondary-g5teka, 
.emptyState-Ud44C9 .stickersRow-3OJE_7,
.shinyButton-2Q9MDB, 
.premiumPromoDescription-1kf0Oa,
.divider--oiTeJ+div+div+div,
.children-1xdcWE .upsellContainer-22N_CL,
.emptyTierWrapper-V5c-R7 .button-f2h6uQ,
/* removes server banners */
.animatedContainer-2laTjx, 
.content-2a4AW9 [style="height: 84px;"], 
.bannerImage-ubW8K-, 
.animatedBannerHoverLayer-129r1v,
/* removes gift button */
.buttons-uaqb-5 > .button-f2h6uQ:not(.BD-TeX-plugin-button) > :not(.quickToggleButton-P2xDh8)
{
    display: none;
}

/* Removes nitro promotion when you press on disabled emojis */
.premiumPromo-1eKAIB .premiumPromoTitle-3tWrPT{
    font-size: 0;
}
.premiumPromo-1eKAIB .premiumPromoTitle-3tWrPT:before{
    content:"Hello fellow user, You need nitro for this to work but its useless anyways so dont buy it!";
    font-size: 20px;
    text-align: center;
    display:block;
}


/* Removes nitro promotion on custom stickers */
.emptyState-Ud44C9 .header-24Iqpn{
    font-size: 0px;
}
.emptyState-Ud44C9 .header-24Iqpn:before{
    content:'Hello, You need nitro to use custom stickers but its useless so dont buy nitro!';
    font-size: 24px;
}
