/*category containers*/
.containerDefault-3TQ5YN {
  margin-top: .2em;
  margin-bottom: .2em;
  padding: 4px !important;
  height: 1.4em !important;
  border: 1px solid RGBA(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: RGBA(0, 0, 0, 0.4);
}
/*channel containers*/
.content-1gYQeQ {
  background-color: RGBA(0, 0, 0, 0.1);
  border: 2px solid var(--background-tertiary);
  padding: 0px;
}
.iconItem-1EjiK0 {
  margin-left: 0px !important;
  padding: 8px 0px !important;
}
.mainContent-20q_Hp{
  padding: 4px 8px !important;
}

.toast-1DEQGy,
.toast-q3Y4wI {
    background: #43b581 !important;
    transform: translateY(10px);
    padding: 6px 10px 6px 10px !important;
    border-radius: 5px;
    box-shadow: var(--elevation-medium), var(--elevation-stroke);
    font-weight: 500;
    color: var(--header-primary);
    opacity: 1;
    margin-top: 10px;
}

.toast-1DEQGy .icon-q80NJC > path,
.toast-q3Y4wI .icon-2QUmmw > path {
    d: none !important;
}

.toast-1DEQGy .icon-q80NJC,
.toast-q3Y4wI .icon-2QUmmw {
    height: 20px !important;
    width: 20px !important;
    margin-top: 0 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=);
    background-size: 20px 20px;
}

.toast-1DEQGy .colorHeaderPrimary-26Jzh-,
.toast-q3Y4wI .colorHeaderPrimary-jN_yGr {
    font-size: 14px !important;
    line-height: 20px !important;
}

.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}
