/* Profile Modal Gradient */
.banner-2QYc2d.popoutBanner-19WKGg::after,
.banner-2QYc2d.profileBanner-33-uE1::after {
    content: '';
    background-image: linear-gradient(45deg, #000000bd, transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
}

.topSection-y3p-_D header {
    padding-top: 120px;
}

.banner-2QYc2d.profileBanner-33-uE1 {
    opacity: 0.8;
    position: absolute;
    height: 100%;
    transform: translateY(-120px);
}

.banner-2QYc2d.popoutBanner-19WKGg {
    opacity: 0.8;
    position: absolute;
    height: 100%;
}

div.bodyInnerWrapper-26fQXj,
div.footer-3UKYOU,
.root-1gCeng,
.userPopout-xaxa6l,
.avatar-AvHqJA.wrapper-3t9DeA {
    background-color: transparent;
}

.headerNormal-3KXFBt {
    height: 120px;
}

.userPopout-xaxa6l .avatar-37jOim,
.avatar-AvHqJA.wrapper-3t9DeA,
.input-cIJ7To {
    background-color: #00000020;
    border-color: transparent;
}

.headerTop-3vNv-a,
.body-3HBlXn,
.footer-3UKYOU {
    backdrop-filter: blur(5px);
}

.note-1oo11U {
    display: none
}
