#removes bg tag from the banner
/*-----------DON'T CHANGE------------*/
:root{--outdated:none!important}
/*  usrbg | snippet by _david_#0218  */
.userPopout-xaxa6l[style*="--user-background"] .banner-2QYc2d, .root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
  height: 120px;
  background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {
  top: 76px;
}
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
  height: 240px;
}
